# This project not use single .env file.
# Ensure to use multiple env file like .env.development, .env.production, etc.
# Set APP_ENV variable to load the correct env file while running the application or build the docker image.

# database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=TodoDb_dev
DB_USER=postgres
DB_PASSWORD=postgres

# app
DB_CONNECTION_STRING=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}

# postgres image
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_USER=${DB_USER}
POSTGRES_DB=${DB_NAME}