# database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=TodoDb
DB_USER=postgres
DB_PASSWORD=postgres

# docker/podman compose 
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_USER=${DB_USER}
POSTGRES_DB=${DB_NAME}

DB_CONNECTION_STRING=Host=localhost;Port=5432;Database=TodoDb;Username=postgres;Password=postgres

# app
ASPNETCORE_ENVIRONMENT=Development