# This project not use single .env file.
# Ensure to use multiple env file like .env.Development, .env.Production, etc.

# database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=TodoDb_dev
DB_USER=postgres
DB_PASSWORD=postgres
DB_CONNECTION_STRING=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}

# postgres image
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_USER=${DB_USER}
POSTGRES_DB=${DB_NAME}

# app
ASPNETCORE_ENVIRONMENT=Development

# jwt
JWT_SECRET=supersecretkeythatisatleast32characterslong
JWT_ISSUER=todolist-api
JWT_AUDIENCE=todolist-client
JWT_EXPIRY_MINUTES=60
JWT_REFRESH_EXPIRY_DAYS=7

# rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest